<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Search</h1>

      <%= simple_form_for @warehouse, url: warehouses_path, method: 'get' do |f| %>
      <%= f.input :temperature, collection: ["not_controlled", "ambient", "chilled", "frozen"] %>
      <%= f.input :rating, collection: 0..5, label: "Min. Rating" %>
      <%= f.input :capacity_sq_ft, label: "Min. Capacity (Sq. ft)" %>
      <%= f.input :address, label: "Proximity - 50 km radius", placeholder: "Post Code" %>
      <%= f.button :submit, "Search" %>
      <% end %>

      <h2>Results</h2>

      <ul>
        <% @warehouses.each do |warehouse| %>
        <li><%= "#{warehouse.name} - #{warehouse.address}" %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
